<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!-- 扫描service、dao组件 -->
    <context:component-scan base-package="cn.test.*" />

	<!-- 配置数据源 -->
	<bean id="jdbcDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<!-- <value>jdbc:postgresql://192.168.1.22/spatial_db</value> -->
			<!-- <value>jdbc:postgresql://10.20.0.187:5432/wfep_dep</value>
			<value>jdbc:postgresql://192.168.20.215:5432/wfep_dep</value> -->
			<value>jdbc:mysql://localhost:3306/test</value> 
			<!-- <value>jdbc:postgresql://192.168.20.67:5432/wfep_dep</value>-->
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>liutian</value>
		</property>
		<property name="maxActive">
			<value>30</value>
		</property>
		<property name="maxIdle">
			<value>10</value>
		</property>
		<property name="maxWait">
			<value>120000</value>
		</property>
		<property name="validationQuery">
			<value>SELECT 1</value>
		</property>
		<property name="testOnBorrow">
			<value>true</value>
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="jdbcDataSource" />
		<property name="configLocation" value="WEB-INF/mybatis-config.xml"></property>
	</bean>

	<!-- ================事务相关控制============ -->
	<bean name="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="jdbcDataSource"></property>
	</bean>

	<tx:advice id="userTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="delete*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException" />
			<tx:method name="insert*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.RuntimeException" />
			<tx:method name="update*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />

			<tx:method name="find*" propagation="SUPPORTS" />
			<tx:method name="get*" propagation="SUPPORTS" />
			<tx:method name="select*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<!-- 切入点 -->
		<aop:pointcut expression="execution(public String cn.test..*Controller.*(..))"
			id="actionPointcut" />
		<aop:pointcut expression="execution(public * cn.test..*Service.*(..))"
			id="servicePointcut" />
		<aop:pointcut expression="execution(public * cn.test..*Mapper.*(..))"
			id="mapperPointcut" />

		<aop:advisor advice-ref="userTxAdvice" pointcut-ref="servicePointcut" />

	</aop:config>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
       <property name="basePackage" value="cn.test.*.mapper" />
    </bean>
		
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="message" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
</beans>